---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Vectorize Image">
	<Header />
	<main class="w-full max-w-5xl">
		<div
			class="w-full flex flex-col lg:flex-row items-center justify-between gap-8 px-6 xl:px-0"
		>
			<div
				class="flex flex-col lg:flex-col items-center lg:items-start md:max-w-3xl lg:max-w-lg"
			>
				<picture
					class="w-full aspect-video overflow-hidden rounded-[2rem] mb-5"
				>
					<img class="object-cover" src="edit.jpg" alt="Create VideoSlider" />
				</picture>
				<h1
					class="font-bold tracking-tight mb-3 text-4xl md:text-5xl lg:text-6xl text-center lg:!text-left"
				>
					Create <span class="text-gradient">VideoSlider</span>
				</h1>
				<p class="font-bold text-xl m-0 text-center lg:!text-left mb-2">
					100% Automatically and
					<span class="text-gradient"> Free</span>
				</p>
				<p class="mb-0">
					Transform your static images into video sliders with our
					free service. Create unique and dynamic presentations in
					seconds.
				</p>
			</div>
			<div class="relative flex flex-col gap-4 md:gap-8 max-w-md">
				<form
					id="dropzone"
					class="dropzone-form w-full flex flex-col sm:justify-center sm:items-center sm:gap-8 sm:pt-36 sm:pb-16 sm:px-16 rounded-[2rem]"
					action="#"
				>
					<button
						class="btn font-bold pointer-events-none bg-blue-600 rounded-full text-bold text-white text-xl px-6 py-4"
					>
						Upload file
					</button>
					<strong class="hidden sm:block text-lg mt-4 text-gray-800"
						>or drop a file</strong
					>
				</form>
			</div>
		</div>
	</main>
	<Footer />
</Layout>

<style>
	.dropzone-form * {
		position: relative;
		z-index: 2;
	}
	.dropzone-form::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		background-color: #ffeeee;
	}
	.dropzone-form::after {
		content: "";
		position: absolute;
		top: 1.5rem;
		left: -1.5rem;
		z-index: 0;
		width: 100%;
		height: 100%;
		border-radius: 2rem;
		background-image: radial-gradient(currentColor 1px, transparent 1px);
		background-size: 10px 10px;
		color: var(--primary);
	}
	@media (min-width: 1024px) {
		.dropzone-form::after {
			top: 2rem;
			left: -2rem;
		}
	}
</style>
