---
import CloudinaryLogo from "../components/CloudinaryLogo.astro";
---

<footer
	class="w-full max-w-5xl relative lg:absolute bottom-0 flex justify-center items-center gap-x-2 px-6 xl:px-0 py-3 mt-10 font-semibold"
>
	Built with <a href="https://cloudinary.com" target="_blank" rel="noreferrer"
		><CloudinaryLogo />
	</a>
</footer>
